.developer {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    &.overflow {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
    .developer {
      @include mini-web {
        margin-left: 0;
      }
    }
    @include mini-web {
      justify-content: center;
    }
    @include mobile {
      margin-top: 70px;
    }
  }
  &__img {
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    @include mini-web {
      margin: 10px auto;
      width: 130px;
      height: 130px;
    }
  }
  &__info {
    text-align: center;
    @include line-one;
  }
}

#developerPage {
  .developer__inner {
    .developer {
      margin-right: 20px;
      @include mini-web {
        margin-right: 0;
      }
    }
    .developer__img {
      width: 150px;
      height: 150px;
      @include mini-web {
        width: 130px;
        height: 130px;
        margin: 10px auto;
      }
    }
    .developer__info {
      width: 150px;
      padding-bottom: 40px;
    }
    @include mini-web {
      justify-content: center;
    }
    @include mobile {
      margin-top: 70px;
    }
  }
}