#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  z-index: 10000;
  border-right: 1px solid $black1;
  @include mobile {
    left: -260px;
    background-color: $black;
    transition: left .3s;
    h1 {
      position: fixed;
      top: 0;
      left: 0;
    }
    &.active {
      left: 0;
    }
  }
}

#main {
  max-width: 2000px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 260px;
  @include mobile {
    padding-left: 0;
  }
}

#footer {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 260px);
  text-align: center;
  background-color: $black2;
  color: $black3;
  font-size: .8rem;
  border-top: 1px solid $black1;
  @include mobile {
    width: 100%;
    margin-left: 0;
  }
}