.search {
  &__inner {
    position: relative;
    padding: 17px 40px;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $black1;
    @include mobile {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      width: 100%;
      padding: 17px 20px 17px 200px;
      background-color: $blackAlpha5;
      backdrop-filter: blur(10px);
    }
    label {
      width: 24px;
      height: 24px;
      background: url(../../img/icon/search.svg) no-repeat center / cover;
      position: absolute;
      left: 53px;
      top: 28px;
      @include mobile {
        left: 213px;
      }
    }
    input {
      padding: 14px 45px;
      width: 100%;
      background-color: $black1;
      border: 1px solid $black2;
      border-radius: 40px;
      font-size: 1rem;
      color: $white;
      @include mobile {
        padding: 14px 14px 14px 45px;
      }
    }
  }
}