.search {
  &__inner {
    position: relative;
    padding: 17px 40px;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $black1;
    label {
      width: 24px;
      height: 24px;
      background: url(../../img/icon/search.svg) no-repeat center / cover;
      position: absolute;
      left: 53px;
      top: 28px;
    }
    input {
      padding: 14px 45px;
      width: 100%;
      background-color: $black1;
      border: 1px solid $black2;
      border-radius: 40px;
      font-size: 1rem;
      color: $white;
    }
  }
}