$black: #000;
$black1: #111;
$black2: #222;
$blackAlpha1: #11111125;
$white: #fff;
$d9: #d9d9d9;
$red: #f00;

$mainfont-nanum: "nanumSquareNeo";
$mainfont-nexon: "nexonLv1";

:root {
  // 폰트 셋팅
  font-family: $mainfont-nanum, $mainfont-nexon;
  font-size: 16px; // 1rem
  line-height: 1.5;
  font-weight: 400;
  
  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
      font-size: 14px;
      line-height: 1.4;
  }
}